/**
 * Description of script style.css
 *
 * @author Martine Bornerie
 */
 @font-face {
    font-family: "Bell MT";
	src: url('../../front/assets/font/BELL.TTF');
}

@font-face {
	font-family: "Gotham rounded book";
	src: url('../../front/assets/font/GOTHAM-ROUNDED-BOOK.OTF');
}


@font-face {
	font-family: "Gotham ultra";
	src: url('../../front/assets/font/GOTHAM-ULTRA.OTF');
}

body {
	/* Essai :
	background-color: grey; ou transparent; ou mintcream; ou floralwhite; ou ghostwhite; 
	ou snow; ou whitesmoke; ou silver; ou aliceblue; ou gainsboro; ou lightgrey; ou oldlace; */
	background-color: #0D1019;
	color: #F5F5F5; /*couleur pour le texte*/
	padding-top: 60px;
	padding-bottom: 40px;
	font-family: "Gotham rounded book";
}

fieldset { /*GESTION DES ENTITÉS DE LA BASE DE DONNÉE*/
	background-color: #0D1019;	/* color: oldlace */
	max-width: 600px;			/* largeur maximale cadre */
	padding: 16px;				/* marge interne / sépare le contenu de la bordure	*/	
	/* Coins arrondis et couleur du cadre */
	border: 4px solid #9887bf; /*respectivement la largeur de la bordure, le type de la bordure et la couleur de la bordure*/
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px; /*arrondi du rectangle*/
}

.legend1 { /*TEXTE FORMULAIRE XXX DANS LE RECTANGLE*/
	color: #9887bf;			/* couleur de la police "Formulaire Mot clé" */
	font-family: "Gotham ultra";
	font-weight: bold;
	margin-bottom: 0px;
	margin-left: 16px;

}

.hr1 { 
	margin: 10px 0 10px;
	padding: 0;
	width: 120pt;
	height: 3px;
	color: #0D1019;			/* color: grey; */
	background: #FF8C00;	/* color: orange; */
	border-top: 2px dashed;
}

.span1 {
	color: #CC9900;			/* color: yellow; */
}

label {
	font-weight: bold;
	font-style: italic;
}

.error {
	padding: 2px; 
	border: solid 0px black; 
	color: red; 
	font-style: italic; 
	border-radius: 5px;
}

.span2 {
    max-width: 500px;
    width: 500px;
    max-height: 200px;
    height: 200px;
}
.conteneur{
    padding: 15px;
    border: 2px solid black;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #0D1019;
    width: 90%
}

span { 
	background-color: #0D1019; 
}

input {
 border:1px solid black;
 white-space:pre;
 }
 
input[type=radio] {
 margin-right:50px;
 background-color:transparent;
 font-family: "Gotham rounded book";
 border:none;
 }

select, option {
 background-color:#F5F5F5;
 font-family: "Gotham rounded book";
 }

textarea {
 border:1px solid black;
 background-color:#F5F5F5;
 }

.controls{
	display: flex;
	justify-content: flex-end;
	padding-right: 2vh;
}
.imputFields{
	cursor:pointer; 
	padding:5px 20px; 
	background-color:#CF6679; 
	box-shadow: 2px 1px 1px black; 
	border-radius:5px;
}
h1{
	font-family: "Gotham ultra";
}
h2{
	font-family: "Gotham rounded book";
}
h3{
	font-family: "Gotham rounded book";
}
p{
	font-family: "Gotham rounded book";
}

/* ------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------- */
table {
	background-color: #171c2b;
	border-color: rgba(255, 255, 0, 0);
	border-collapse:inherit;
	box-shadow: 0;
}

a {
	text-decoration: none;
	font-family: "Gotham rounded book";
	font-style: normal;
	color: #CF6679;
	text-shadow: 2px 1px 1px black; 
}
tbody tr:nth-child(odd) { /*couleur fond lignes impaires des tableaux*/
	background-color:#1d2334;
  }
  
  tbody tr:nth-child(even) {
	background-color:#0D1019; /*couleur fond lignes paires des tableaux*/
  }

  td {
	  border-color: #171c2b00;
  }
  th {
	border-color: #171c2b00;
  }