
.img_acteur {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: flex;
    align-content: center;
}

.img_acteur2 {
    width: 100%;
    height: 100%;
    padding-top: 8%;
}

.img1 {
    display: flex;
    width: 20%;
    height: 30%;
}

.img2 {
    display: flex;
    width: 40%;
    height: 40%;
    padding-right: 1%;
    margin-top: -5%;
    margin-bottom: 4%;
}

.img3 {
    display: flex;
    width: 50%;
    height: 50%;
    padding-right: 1%;
    margin-top: -10%;
}

.box1 {
    display: flex;
    padding-top: 4%;
}

.marge {
    padding-top: 2%;
    padding-bottom: 2%;
}

.marge1 {
    padding-top: 5%;
}

.align_left {
    text-align: left;
}

.padding_soulignage {
    padding-top: 1%;
}

.img1_decal {
    display: flex;
    width: 20%;
    height: 30%;
    margin-right:4%
}

/* css de l'effet sur l'image en entête */

.placeholder{
  display:inline-block;
  position:relative;
  width:600px;
  height:600px;
  overflow:hidden;
  box-sizing:border-box;
  margin-top:100px;
}

.gridContainer{
  width:100%;
  height:100%;
}

.gridTile
{
  position:absolute;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  background-size:cover;
  background-repeat:no-repeat;
  background-origin:center;
}

.interaction3{
    color: #cf6679;


}

.interaction3:hover {
    color:#F5F5F5;
    transition: 0.3s;
}