* {
    margin: 0;
    padding: 0;
}

html{
    overflow-y: scroll;
    scroll-behavior: smooth;
}

body{
    background-color: #0D1019;
    margin: 0 4%;
}

h1{
    font-family: "Gotham ultra";
    color: #F5F5F5;
    /* text-align: center; */
    font-size: 600%;
    text-transform: uppercase;
}

h2{
    font-family: "Gotham rounded book";
    color: #F5F5F5;
    font-size: 270%;
}

p{
    font-family: "Bell MT";
    color: #F5F5F5;
    font-size: 130%;
    line-height: 130%;
}
