h4{
    font-family: "Gotham rounded book";
    color: #0D1019;
    font-size: 150%;
}

.bordure_cookies {
    background-color: #FFFFFE;
    position: fixed;
    justify-content: left;
    width: 350px;
    height: 300px;
    bottom: 0;
    margin-bottom: 2%;
    opacity: 90%;
    border-radius: 3%;
}

.bordure2_cookies {
    text-align: center;
    justify-content: left;
    display: flex;
    padding-top: 7%;    
}

.pcookies {
    color: #0D1019;
    font-size: 90%;
    padding-right: 50%;
    padding-left: 5%;
    padding-top: 2%;
}

.img_cookies {
    display: flex;
    width: 25%;
    height: 25%;
    padding-left: 66%;
    margin-top: -55%;
}

.croix_cookies {
    display: flex;
    width: 7%;
    height: 7%;
    padding-left: 91%;
    margin-top: -41%;
}
.croix_cookies:hover {
    display: flex;
    opacity: 80%;
    padding-left: 91%;
}

.valider_cookies{
    display: block;
    background-color: #9887BF;
    border-width: 1px;
    border-radius: 20px;
    width: 110px;
    height: 40px;
    margin-left: 60%;
    margin-top: 41%;
    justify-content: center;
    text-align: center;
}
.valider_cookies:hover {
    display: block;
    opacity: 80%;
}

.refuser_cookies{
    display: block;
    background-color: #FFFFFE;
    border-width: 1px;
    border-radius: 20px;
    width: 110px;
    height: 40px;
    margin-left: 60%;
    margin-top: 4%;
    justify-content: center;
    text-align: center;
}
.refuser_cookies:hover {
    display: block;
    opacity: 80%;
}

.cookie_blanc {
    color: #FFFFFE;
    font-size: 15px;
}

.cookie_blanc2 {
    color: #9887BF;
    font-size: 15px;
}

.ici {
    color: black;
    font-weight: bold;
}
.ici:hover {
    text-decoration: underline;
}