@font-face {
    font-family: "Bell MT";
	src: url('/font/BELL.TTF');
}

@font-face {
	font-family: "Gotham rounded book";
	src: url('/font/GOTHAM-ROUNDED-BOOK.OTF');
}


@font-face {
	font-family: "Gotham ultra";
	src: url('/font/GOTHAM-ULTRA.OTF');
}