.title{
    display: flex;
    flex-direction: column;
    text-align: left;
  }

.title2{
    padding-top: 150px;
    display: flex;
    justify-content: center;
}

.mouse{
    padding-top: 15%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 3vw;
}


.actu{
    width: 30vw;
}

.gameboy{
    width: 18vw;
    padding-top: 3%;
}

.acgameboy{
    padding-top: 100px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.soulignage4{
    width: 55vw;
}

.immeuble {
    width: 15vw;
    margin-left: -45%;
}

.btnplus {
    background:url(../assets/icons/btnplushover.png) no-repeat;
    width: 15vw;
    height: 90px;
    background-size: 100%;
    align-self: flex-start;
    justify-self: flex-start;
}
.btnplus:hover{
    background:url(../assets/icons/btnplus.png) no-repeat;
    background-size: 100%;
    width: 15vw;
    height: 90px;
}

.p_actu{
    width: 60vw;
    margin-bottom: 0;
}

.p_landing{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 0;
}


.acteurclef{
    padding-top: 10%;
    width: 50vw;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.newsletter{
    width: 90vw;
}
.column {
    display: flex;
    flex-direction: column;
}
.row {
    display: flex;
}

.graduate_student {
    height: 250px;
    align-self: center;
    padding-right: 20px;
}

.imginsolite {
    height: 80%;
    width: 80%;
}

.mouse_newsletter {
    height:80%;
    width: 80%;
    margin-top: 10%;
}

/* css du typewriter en h1 */
  
span {
    border-right: .05em solid;
    animation: caret 1s steps(1) infinite;
  }
  
  @keyframes caret {
    50% {
      border-color: transparent;
    }
  }

html {
    scroll-behavior: smooth;
}

.move_mouse span {
    animation: none;
}


#section10 a {
    padding-top: 60px;
  }
  #section10 a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 30px;
    height: 50px;
    margin-left: -15px;
    border: 2px solid #fff;
    border-radius: 50px;
    box-sizing: border-box;
  }
  #section10 a span::before {
    position: absolute;
    top: 10px;
    left: 50%;
    content: '';
    width: 6px;
    height: 6px;
    margin-left: -3px;
    background-color: #fff;
    border-radius: 100%;
    -webkit-animation: sdb10 2s infinite;
    animation: sdb10 2s infinite;
    box-sizing: border-box;
  }
  @-webkit-keyframes sdb10 {
    0% {
      -webkit-transform: translate(0, 0);
      opacity: 0;
    }
    40% {
      opacity: 1;
    }
    80% {
      -webkit-transform: translate(0, 20px);
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes sdb10 {
    0% {
      transform: translate(0, 0);
      opacity: 0;
    }
    40% {
      opacity: 1;
    }
    80% {
      transform: translate(0, 20px);
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }

section {
    position: relative;
    width: 100%;
    height: 100%;
  }
  section::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 80%;
    background: -webkit-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
    background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
  }
  section h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #fff;
    font : normal 300 64px/1 'Josefin Sans', sans-serif;
    text-align: center;
    white-space: nowrap;
  }

#thanks {
    background-color: #fff;
  }
  #thanks::after {
    content: none;
  }
  #thanks div {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  #thanks h2 {
    margin-bottom: 60px;
    color: #333;
    font : normal 300 64px/1 'Josefin Sans', sans-serif;
    text-align: center;
    white-space: nowrap;
  }
  #thanks p {
    color: #333;
    font : normal 400 20px/1 'Josefin Sans', sans-serif;
  }
  #thanks p a {
    color: #333;
    text-decoration: none;
    transition: color .3s;
  }
  #thanks p a:hover {
    color: #888;
  }
  .demo a {
    position: absolute;
    bottom: 20px;
    left: 50%;
    z-index: 2;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: #fff;
    font : normal 400 20px/1 'Josefin Sans', sans-serif;
    letter-spacing: .1em;
    text-decoration: none;
    transition: opacity .3s;
  }
  .demo a:hover {
    opacity: .5;
  }

.move_mouse {
    margin-top: 22%;
}