.title{
    display: flex;
    flex-direction: column;
    text-align: left;
  }

.title2{
    padding-top: 150px;
    display: flex;
    justify-content: center;
}

.mouse{
    padding-top: 15%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 3vw;
}


.actu{
    width: 30vw;
}

.gameboy{
    width: 18vw;
    padding-top: 3%;
}

.acgameboy{
    padding-top: 100px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.soulignage4{
    width: 55vw;
}

.immeuble {
    width: 15vw;
    margin-left: -45%;
}

.btnplus {
    background:url(../assets/icons/btnplushover.png) no-repeat;
    width: 15vw;
    height: 90px;
    background-size: 100%;
    align-self: flex-start;
    justify-self: flex-start;
}
.btnplus:hover{
    background:url(../assets/icons/btnplus.png) no-repeat;
    background-size: 100%;
    width: 15vw;
    height: 90px;
}

.p_actu{
    width: 60vw;
    margin-bottom: 0;
}

.p_landing{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 0;
}


.acteurclef{
    padding-top: 10%;
    width: 50vw;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.newsletter{
    width: 90vw;
}
.column {
    display: flex;
    flex-direction: column;
}
.row {
    display: flex;
}

.graduate_student {
    height: 250px;
    align-self: center;
    padding-right: 20px;
}

.imginsolite {
    height: 80%;
    width: 80%;
}

.mouse_newsletter {
    height:80%;
    width: 80%;
    margin-top: 10%;
}

/* css du typewriter en h1 */
  
  span {
    border-right: .05em solid;
    animation: caret 1s steps(1) infinite;
  }
  
  @keyframes caret {
    50% {
      border-color: transparent;
    }
  }

html {
    scroll-behavior: smooth;
}

#section2 {

}
