* {
    margin: 0;
    padding: 0;
}

body{
    background-color: #0D1019;
    margin: 0 4%;
}

h1{
    font-family: "Gotham ultra";
    color: #F5F5F5;
    text-align: center;
    font-size: 600%;
}

h2{
    font-family: "Gotham rounded book";
    color: #F5F5F5;
    font-size: 270%;
    margin: 0;
    padding-bottom: 10px;
}

p{
    font-family: "Bell MT";
    color: #F5F5F5;
    font-size: 130%;
    line-height: 130%;
}

.mentions{
    width: 40%;
    height:auto;
}

.lignementions {
    width: 39%;
    height:auto;
}

.vigueur{
    margin-top: 60px;
    margin-bottom: 100px;
    text-align: right;
}

.intertitrementions{
    
}